<?xml version="1.0" encoding="utf-8"?>
<manifest package="rikka.akashitoolkit"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->
    <!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    -->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="rikka.akashitoolkit.support.AppGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingActivity"
            android:label="@string/setting"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--
        <activity
            android:name=".ui.SendReportActivity"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="rikka.akashitoolkit.SEND_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        -->

        <activity
            android:name=".ui.EquipDisplayActivity"
            android:theme="@style/AppTheme.ItemActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="item"
                    android:scheme="akashitoolkit"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ShipDisplayActivity"
            android:theme="@style/AppTheme.ItemActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="ship"
                    android:scheme="akashitoolkit"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ExpCalcActivity"
            android:label="@string/exp_calc"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.MapActivity"
            android:theme="@style/AppTheme.ItemActivity">
        </activity>
        <activity
            android:name=".ui.ImageDisplayActivity"
            android:theme="@style/AppTheme.ImagesActivity">
        </activity>
        <activity
            android:name=".ui.PushSendActivity"
            android:label="Push send">
        </activity>
        <activity
            android:name=".ui.RankingActivity"
            android:label="@string/ranking"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>