<?xml version="1.0" encoding="utf-8"?>
<manifest package="rikka.akashitoolkit"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name="com.avos.avoscloud.PushService"
            android:exported="false"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="rikka.akashitool.PUSH_MESSAGE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>