<?xml version="1.0" encoding="utf-8"?>
<manifest package="rikka.akashitoolkit"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:icon="@mipmap/ic_launcher_safe"
        tools:replace="android:icon"/>

</manifest>